@import "tailwindcss";


::-webkit-scrollbar {
   width: 8px;
 }

 ::-webkit-scrollbar-track {
   
   border: hidden;
 }

 ::-webkit-scrollbar-thumb {
   background: #605cff; 
   border-radius: 8px;
 }